<%= form_for(@food_menu) do |f| %>
  <% if @food_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_menu.errors.count, "error") %> prohibited this food_menu from being saved:</h2>

      <ul>
      <% @food_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id_id %><br>
    <%= f.text_field :order_id_id %>
  </div>
  <div class="field">
    <%= f.label :food_id_id %><br>
    <%= f.text_field :food_id_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
